@import url('https://fonts.googleapis.com/css2?family=Delius&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
--primary-color: #71adf1;
--secondary-color: #f5f5f5;
--title: #333333;
--contrast: #f39797;
--text-base: #7575caa4;
--cta: #ff6f61;
--background: #7a7a7a;
--text-color: #e4dada;
--gradient1: linear-gradient(135deg, #70a9e9, #f5f5f5);
--gradient2: linear-gradient(135deg, #cf8989, #303438);
--font-base: "Delius", cursive;
--font-tiltle: "Sour Gummy", sans-serif;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: var(--font-base);
text-decoration: none;
list-style: none;
}

body{
    color: var(--text-color);
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: var(--font-tiltle);
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}